//site color variables
$body-color: #fff;
$primary-color: #DEAE5E;
$secondary-color: #3BA3B9;
$tertiary-color: #F24A2B;
$text-color: #3BA3B9;
$text-color-dark: #1E2041;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
